<div class="container d-flex justify-content-center">
  <div class="loginsignup-rounded-card col col-lg-6">
    <div class="rectangle-mustard-card"></div>
    <div class="home-rounded-content mx-5 my-3">
      <h1 class="loginsignup-rounded-card-header">Sign up</h1>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs pb-4">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions mb-3">
          <%= f.button :submit, "Sign up", class: "btn-lg btn-outline-mustard loginsignup-rounded-card-text-buttons btn-block mb-4 py-2" %>
          <% end %>

        </div>
          <%= render "devise/shared/links"%>
    </div>
  </div>
</div>
