<div class="rectangle-white no-margin-no-padding">
  <div class="container">
    <div style="padding:50px 0px 30px 0px;">
      <h1 class="top-header-page-black">Type of food</h1>
      <h2 class="top-text-page-black">What type of food would you like to cook? Let's select the ones you like 🤤🤤🤤</h2>

      <div id="create-favorites-form">
        <%= form_for current_user, url: favorite_cuisines_path, method: :post do |f| %>

          <%= f.collection_check_boxes :cuisine_ids , @cuisines, :id, :name, item_label_class: 'my-custom-class'   %>
          <%= f.submit 'Submit >', class: "btn btn-lg btn-yellow " %>
        <% end %>
      </div>
    </div>


    <div class=" container rectangle-light-gray mt-2 pt-4 px-4 d-flex flex-wrap justify-content-between">
      <% @cuisines.each do |cuisine| %>
        <div data-id="<%= cuisine.id %>" class="mb-3 hover-darker-cuisine-card cuisine-card">
          <div class="darker-cuisine-card">
            <%= image_tag "#{cuisine.photo}", class: "small-cuisine-card-image", alt: "#{cuisine.name}" %>
            <div class="to-select"></div>
            <div class="d-flex align-items-end">
              <p class="small-cuisine-card-name-fav-page"> <%= cuisine.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
