<div class="row">
  <div class="col-6 mt-5">
    <%=  link_to graph_path(cuisine_id: params[:cuisine_id], season: params[:season]), class: 'small-cuisine-card-name-gray mx-5' do %>
      |<i class="fas fa-arrow-left"></i> Back
    <% end %>

    <div class="mx-5">
      <h1 class="map-rounded-card-header mt-5 mb-4">
        See how the <%= @cuisine.name %> cuisine performs in <%= @city.name %> for the season <%= Date::MONTHNAMES[session[:start_period].to_i] %> - <%= Date::MONTHNAMES[session[:end_period].to_i] %>
      </h1>

      <div class="card-product-map p-3">
        <!-- Column for Metrics -->
        <div class="card-product-infos-map">
          <h2>
              Metrics
          </h2>
          <p class="card-product-attendance-map">
            Attendance:
          </p>
          <p class="card-product-rating-map">
            Rating:
          </p>
          <p class="card-product-price-range-map">
            Price:
          </p>
          <p class="card-product-no_restaurants-map">
            No restaurants:
          </p>
        </div>
        <!-- column for Selected food -->
        <div class="card-product-infos-map">
          <h2>
            <%= @cuisine.name %>
          </h2>
          <p class="card-product-attendance-map">
            <%=  @cuisine.av_attendance(@city,@season).floor%>
          </p>
          <p class="card-product-rating-map">
            <%=@cuisine.av_rating.round(2) %>
          </p>
          <p class="card-product-price-range-map">
            <%= @cuisine.av_price_range %> $
          </p>
          <p class="card-product-no_restaurants-map">
            <%= @cuisine.no_restaurants %>
          </p>
        </div>
        <!-- column for top range cuisine in the City -->
        <div class="card-product-infos-map">
          <h2>
            Top range Cuisines
          </h2>
          <p class="card-product-attendance-map">
            <%= @threshold_attendance_top.floor %>
          </p>
          <p class="card-product-rating-map">
            <%= @average_top_rating.round(2) %>
          </p>
          <p class="card-product-price-range-map">
            <%= @average_top_price %> $
          </p>
          <p class="card-product-no_restaurants-map">
            <%= @average_top_competitors %>
          </p>
        </div>
        <!-- column for mid range cuisine in the City -->
        <div class="card-product-infos-map">
          <h2>
            Mid range Cuisines
          </h2>
          <p class="card-product-attendance-map">
            <%= @threshold_attendance_bottom.floor %>
          </p>
          <p class="card-product-rating-map">
            <%= @average_mid_rating.round(2) %>
          </p>
          <p class="card-product-price-range-map">
            <%= @average_mid_price %> $
          </p>
          <p class="card-product-no_restaurants-map">
            <%= @average_mid_competitors %>
          </p>
        </div>
      </div>
      <!-- additionnale metrics and comments -->

      <div class="mt-4">
        <%= render 'shared/favorite_button', cuisine: @cuisine %>
      </div>

      <div class=""> <!-- KARINHO -->
      </div>
    </div> <!-- /col-6 -->
  </div>

  <!-- Map -->
  <div class="col-6" style="padding:0px;">
    <div
      id="map"
      style="width: 100%;height: calc(100vh - 70px);"
      data-markers="<%= @markers.to_json %>"
      data-restaurants="<%= @geojson.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
