<div class=" d-flex">
  <div class="container col-6 mt-3 mx-5">
    <%=  link_to results_path, class: 'small-cuisine-card-name-gray' do %>
      |<i class="fas fa-arrow-left"></i> Back
    <% end %>
    <h1 class="map-rounded-card-header mt-5 mb-4">See how the <%= @cuisine.name %> cuisine performs in <%= @city.name %> for the season <%= Date::MONTHNAMES[session[:start_period].to_i] %> - <%= Date::MONTHNAMES[session[:end_period].to_i] %></h1>

    <div class="row col-12">
      <div class="card-product-map p-3">
          <%#= image_tag @cuisine.photo %>
        <!-- Column for Metrics -->
        <div class="card-product-infos-map">
          <h2>
              Metrics
          </h2>
          <p class="card-product-attendance-map">
            Attendance:
          </p>
          <p class="card-product-rating-map">
            Rating:
          </p>
          <p class="card-product-price-range-map">
            Price:
          </p>
          <p class="card-product-no_restaurants-map">
            No restaurants:
          </p>
        </div>
        <!-- column for Selected food -->
        <div class="card-product-infos-map">
          <h2>
            <%= @cuisine.name %>
          </h2>
          <p class="card-product-attendance-map">
            <%=  @cuisine.av_attendance(@city,@season).floor%>
          </p>
          <p class="card-product-rating-map">
            <%=raw "<i class='fas fa-star icon-color-mustard'></i>" * @cuisine.av_rating %>
          </p>
          <p class="card-product-price-range-map">
            <%= @cuisine.av_price_range %> $
          </p>
          <p class="card-product-no_restaurants-map">
            <%= @cuisine.no_restaurants %>
          </p>
        </div>
        <!-- column for City -->
        <div class="card-product-infos-map">
          <h2>
            <%= City %>
          </h2>
          <p class="card-product-attendance-map">
            <%= @city.av_attendance(@season).floor%>
          </p>
          <p class="card-product-rating-map">
            <%=raw "<i class='fas fa-star icon-color-mustard'></i>" * @city.av_rating %>
          </p>
          <p class="card-product-price-range-map">
            <%= @city.av_price_range %> $
          </p>
          <p class="card-product-no_restaurants-map">
            <%= @city.no_restaurants %>
          </p>
        </div>
      </div>

      <%= render 'shared/favorite_button', cuisine: @cuisine %>

      <div class=""> <!-- KARINHO -->
      </div>

      <div>
        <p>
          attendance
          <!-- Array of Cuisines sorted by higher average attendance -->
          <% @cuisine_attendance_array.each do |r| %>
          <%= r %>
          <% end %>
          <br>
          range attendance
          <!-- mini Attendance of the top third   -->
          <%= @threshold_attendance_top %>
          <!-- min Attendance of the mid third   -->
          <%= @threshold_attendance_bottom %>
          <br>

           rating
          <% @cuisine_rating_array.each do |r| %>
          <%= r %>
          <% end %>
          <br>
          rating
          average
          <!-- average of the top third-->
          <%= @average_top_rating %>
          <!-- average of the second third -->
          <%= @average_mid_rating %>
          <br>

          number of competitors
          <% @cuisine_no_competitors_array.each do |r| %>
          <%= r %>
          <% end %>
          <br>
          average competitors
          <!-- average of the top third-->
          <%= @average_top_competitors %>
          <!-- average of the second third -->
          <%= @average_mid_competitors %>
          <br>

          price
          <% @cuisine_price_array.each do |r| %>
          <%= r %>
          <% end %>
          <br>
          Average
          <!-- average of the top third-->
          <%= @average_top_price %>
          <!-- average of the second third -->
          <%= @average_mid_price %>
          <br>

          Trend indication
          2019
          <%= @av_trend_current_year %>
          2018
          <%= @av_trend_previous_year %>

        </p>
      </div>
    </div>
  </div>

  <!-- Map -->
  <div class="col-6" style="padding: 0px;">
    <div
      id="map"
      style="width: 100%;
      height: calc(100vh - 70px);"
      data-markers="<%= @markers.to_json %>"
      data-restaurants="<%= @geojson.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

<div>
    <p>
      attendance
      <!-- Array of Cuisines sorted by higher average attendance -->
      <% @cuisine_attendance_array.each do |r| %>
      <%= r.floor %>
      <% end %>
      <br>
      range attendance
      <!-- mini Attendance of the top third   -->
      <%= @threshold_attendance_top.floor %>
      <!-- min Attendance of the mid third   -->
      <%= @threshold_attendance_bottom.floor %>

      <p>-----------------</p>
      <br>

       rating
      <% @cuisine_rating_array.each do |r| %>
      <%= r.round(1) %>
      <% end %>
      <br>
      rating
      average
      <!-- average of the top third-->
      <%= @average_top_rating.round(1) %>
      <!-- average of the second third -->
      <%= @average_mid_rating.round(1) %>
      <p>-----------------</p>
      <br>

      number of competitors
      <% @cuisine_no_competitors_array.each do |r| %>
      <%= r %>
      <% end %>
      <br>
      average competitors
      <!-- average of the top third-->
      <%= @average_top_competitors %>
      <!-- average of the second third -->
      <%= @average_mid_competitors %>
      <p>-----------------</p>
      <br>

      price
      <% @cuisine_price_array.each do |r| %>
      <%= r %>
      <% end %>
      <br>
      Average
      <!-- average of the top third-->
      <%= @average_top_price %>
      <!-- average of the second third -->
      <%= @average_mid_price %>
      <br>
      <p>-----------------</p>

      Trend indication
      <br>
      2019 →
      <%= @av_trend_current_year.floor %>
      <br>
      2018 →
      <%= @av_trend_previous_year.floor %>
    </p>

    <p>
      <%= @cuisines_sorted_by_attendance.first(@high_percentile_index).include? (@cuisine)%>
    </p>
  </div>
