<div class="row">
  <div class="col-6 mt-5">
    <%=  link_to graph_path(cuisine_id: params[:cuisine_id], season: params[:season]), class: 'small-cuisine-card-name-gray mx-5' do %>
      |<i class="fas fa-arrow-left"></i> Back
    <% end %>

    <div class="mx-5">
      <div class="alert alert-warning alert-yellow alert-no-float d-none">
        Cuisine type added to favorites.
        <button type="button" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <h1 class=" mt-5 mb-4">
        <strong><%= @cuisine.name %>  cuisine performance </strong>
      </h1>
      <h4>In <%= @city.name %> January to December</h4>



      <!-- additionnale metrics and comments -->
      <div class="">
        <table class="table table-map mt-4">
          <thead>
            <tr>
              <th scope="col">Metrics</th>
              <th scope="col"><%= @cuisine.name %> cuisine</th>
              <th scope="col">Top range Cuisine</th>
              <th scope="col">Mid range Cuisine</th>
            </tr>
          </thead>

          <tbody>
            <tr>

              <td>Av. Attendance</td>
              <td class="<%= @cuisine.av_attendance(@city,@season) > @threshold_attendance_top ? 'text-success':'text-danger' %>"><%=  @cuisine.av_attendance(@city,@season).floor%></td>
              <td><%= @threshold_attendance_top.floor %></td>
              <td><%= @threshold_attendance_bottom.floor %></td>
            </tr>
            <tr>

              <td>Rating</td>
              <td class="<%= @cuisine.av_rating > @average_top_rating ? 'text-success':'text-danger'%>"> <%=@cuisine.av_rating.round(2) %></td>
              <td><%= @average_top_rating.round(2) %></td>
              <td><%= @average_mid_rating.round(2) %></td>
            </tr>
            <tr>
              <td>Price</td>
              <td ><%= @cuisine.av_price_range %> $</td>
              <td><%= @average_top_price %> $</td>
              <td><%= @average_mid_price %> $</td>
            </tr>
            <tr>
              <td>No. Restaurants</td>
              <td class="<%= @cuisine.no_restaurants < @average_top_competitors ? 'text-success':'text-danger' %>"><%= @cuisine.no_restaurants %></td>
              <td><%= @average_top_competitors %></td>
              <td><%= @average_mid_competitors %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Button -->
      <div class="mt-4">
        <%= render 'shared/favorite_button', cuisine: @cuisine %>
      </div>
    </div> <!-- /col-6 -->
  </div>

  <!-- Map -->
  <div class="col-6" style="padding:0px;">
    <div
      id="map"
      style="width: 100%;height: calc(100vh - 70px);"
      data-markers="<%= @markers.to_json %>"
      data-restaurants="<%= @geojson.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
