<div class="row">

  <div class="col-2">
  <!-- Cuisine not selected -->
    <% @unselectedcuisines.each do |c| %>
      <div class="small-cuisine-card">
        <div class="small-cuisine-card-image">
          <%= image_tag c.photo, class:"small-cuisine-card-image" %>
          <div class="small-cuisine-card-add-sign"></div>
        </div>
        <!-- <p class="small-cuisine-card-name">lebanese</p> -->
        <%= link_to c.name, add_favorite_cuisines_path(cuisine_id: c.id), class:"small-cuisine-card-name-gray" %>
      </div>
    <% end %>
  </div>

  <div class="col-8">
  <!-- displayed cuisines -->
  <div class="row">
    <% @favoritecuisines.each do |fc| %>
      <div class="col-6">
        <div class="card-product">
          <%= image_tag fc.cuisine.photo %>
          <div class="card-product-infos">
            <h2>
              <%= fc.cuisine.name %>
              <%= link_to favorite_cuisine_path(fc.id), method: :delete do %>
                <i class="fa fa-trash icon-color-gray" ></i>
              <% end %>
            </h2>
            <p class="card-product-attendance">
              Attendance: <%=  fc.cuisine.attendance(@city).floor%>
            </p>
            <p class="card-product-rating">
              Rating:
              <%=raw "<i class='fas fa-star icon-color-mustard'></i>" * fc.cuisine.av_rating %>
            </p>
            <p class="card-product-price-range">
              Price:
              <%= fc.cuisine.av_price_range %> $
            </p>
            <p class="card-product-no_restaurants">
              No restaurants:
              <%= fc.cuisine.no_restaurants %>
            </p>

            <!-- IH comment:  passing the cuisine_id which will be used in the map view -->
            <%= link_to map_path(cuisine_id: fc.cuisine.id), class:"small-cuisine-card-name-gray" do %>
              <i class="fas fa-map-marker-alt icon-color-mustard"></i> Find location
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>



  </div>

  <div class="col-2">
<!-- cuisine for comparison -->

    <% @comparisoncuisines.each do |fc| %>
      <%= fc.cuisine.name %>
      <%= link_to favorite_cuisine_uncompare_path(fc.id) do %>
        <i class="fa fa-trash" ></i>
        <% end %>
    <% end %>
  </div>
</div>


