<div class="contain-page">
  <div class="containLoader">
    <div class="loadingBar-area">
      <div class="loadingBar">
        <div class="gradient"></div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex">

  <!-- Cuisine not selected side menu 2/12 columns-->
  <div class="col-2 lg-container-card small-cuisine-card-container">
    <h1 class="home-rounded-card-header"><%= @city.name %> Top cuisines</h1>
    <% @unselectedcuisines.each do |c| %>
      <div class="small-cuisine-card mb-2 ">
        <div class="mx-auto">
            <div class="border-bottom-line-add-card">
              <%= link_to add_favorite_cuisines_path(cuisine_id: c.id), class:"small-cuisine-card-name-gray" do %>
                <span style="display:inline-block; width:18px; margin-right:5px">
                  <%= show_svg('plus-icon.svg') %>
                </span>
                <%= @cuisines.find_index(c).to_i + 1 %> | <%= c.name %>
              <% end %>
            </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Show displayed cuisines and top orders buttons - 10/12 columns-->
  <div class="col-10 css-behaving-of-scrowling">
    <!-- buttons to order -->
    <div class="row rectangle-white-bar d-flex align-content-center">
      <%#= link_to 'Name', results_path(selected_filter: 'name', query: 'name'),
        class: classes_for_menu('name') %>
      <div > Sort by <i class="fas fa-filter"></i>:</div>
      <%= link_to 'Attendance', results_path(selected_filter: 'attendance', attendance: true),
        class: classes_for_menu('attendance') %>
      <%= link_to 'Rating', results_path(selected_filter: 'rating', metrics: 'av_rating'),
        class: classes_for_menu('rating') %>
      <%= link_to 'Price', results_path(selected_filter: 'price', metrics: 'av_price_range'),
        class: classes_for_menu('price') %>
      <%= link_to 'No. Restaurants', results_path(selected_filter: 'number', metrics: 'no_restaurants'),
        class: classes_for_menu('number') %>
    </div>

    <div class="m-2 pt-1">
      <!-- Card Product -->
      <% @favoritecuisines.each do |fc| %>
        <div class="card-product m-2">

          <!-- Image plus info -->
          <div class="d-flex">

            <!-- Image -->
            <%= image_tag fc.cuisine.photo %>
            <!-- Info -->
            <div class="d-flex flex-grow-1 d-flex justify-content-between p-3 mx-2">
              <!-- Cuisine name 2/12 columns-->
              <div class="border-right-line-add-card">
                <h2 class="mb-3"><%= fc.cuisine.name %></h2>
                <div class="d-flex">
                  <%= link_to map_path(cuisine_id: fc.cuisine.id, season: @season) do %>
                    <div class="btn btn-outline-yellow btn-yellow-smaller px-4">
                      <i class="fas fa-map-marker-alt"></i> Location
                    </div>
                  <% end %>
                  <%#= link_to favorite_cuisine_compare_path(favorite_cuisine_id: fc.id) do %>
                    <!-- <div class="btn btn-outline-yellow btn-yellow-smaller">
                      <i class="fas fa-chart-area"></i> Compare
                    </div> -->
                  <%# end %>

                </div>
              </div>

              <!-- Cuisine ranking 2/12 columns-->
              <div class="card-product-price-range">
                <p title ="Ranking by attendance">Ranking <i class="far fa-question-circle"></i></p>
                <p><%= @cuisines.find_index(fc.cuisine).to_i + 1 %></p>
              </div>

              <!-- Cuisine attendance 2/12 columns-->
              <div class="card-product-attendance">
                <p title="Average people by restaurant every month">Attendance <i class="far fa-question-circle"></i></p>
                <p><%=  fc.cuisine.av_attendance(@city,@season).floor%></p>
              </div>

              <!-- Cuisine rating 2/12 columns-->
              <div class="card-product-rating">
                <p title="Average rating of all restaurants of this cuisine">Rating <i class="far fa-question-circle"></i></p>
                <!-- <p><%#=raw "<i class='fas fa-star icon-color-mustard'></i>" * fc.cuisine.av_rating %></p> -->
                <p><%=fc.cuisine.av_rating.to_f %> <%=raw "<i class='fas fa-star icon-color-mustard'></i>" * fc.cuisine.av_rating.to_f %></p>
              </div>


              <!-- IH comment:  passing the cuisine_id which will be used in the map view -->

              <%#= link_to map_path(cuisine_id: fc.cuisine.id, season: @season) do %>
                <!-- <i class="fas fa-map-marker-alt icon-color-mustard"></i> Find location -->
              <%# end %>

              <!-- Cuisine price-range 2/12 columns-->
              <div class="card-product-price-range">
                <p title = "Average money spend by customer per visit">Price <i class="far fa-question-circle"></i></p>
                <p><%= fc.cuisine.av_price_range %> $</p>
              </div>

              <!-- Cuisine no. restaurants 2/12 columns-->
              <div class="card-product-no_restaurants">
                <p title="No restaurants of this cuisine in the city">No. restaurants <i class="far fa-question-circle"></i></p>
                <p><%= fc.cuisine.no_restaurants %></p>
              </div>

              <!-- Delete info -->
              <div class="flex-shrink-1 ">
                <%= link_to favorite_cuisine_path(fc.id), method: :delete, class: "cuisine-comparison-horizontal-card-button_delete" do %>
                  <div></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="">
      <!-- cuisine for comparison -->
      <% @comparisoncuisines.each do |fc| %>
        <%= fc.cuisine.name %>
        <%= link_to favorite_cuisine_uncompare_path(fc.id) do %>
          <i class="fa fa-trash" ></i>
        <% end %>
      <% end %>
    </div>

        <%#= @cuisines.first(14).sum  /14 %>


  </div>
  <%= link_to graph_path, class: 'btn btn-lg btn-yellow btn-position-absolute' do%>
    <i class="fas fa-chart-area"></i> Compare
  <% end %>
</div>


