<div class="row">
  <div class="col-2">
  <!-- Cuisine not selected -->

    <% @unselectedcuisines.each do |c| %>
      <%= link_to c.name, add_favorite_cuisines_path(cuisine_id: c.id) %>
    <% end %>
  </div>

  <div class="col-8">
  <!-- displayed cuisines -->
  <div class="row">
    <% @favoritecuisines.each do |fc| %>
      <div class="col-6">
        <div class="card-product">
          <%= image_tag fc.cuisine.photo %>
          <div class="card-product-infos">
            <h2><%= fc.cuisine.name %></h2>
            <p class="card-product-attendance">
              Attendance <%=  fc.cuisine.attendance(@city)%>
            </p>
            <p class="card-product-rating">
              Rating
              <%= fc.cuisine.av_rating %>
            </p>
            <p class="card-product-price-range">
              Price Range
              <%= fc.cuisine.av_price_range %> $
            </p>
            <p class="card-product-no_restaurants">
              No restaurants
              <%= fc.cuisine.no_restaurants %>
            </p>
            <%= link_to favorite_cuisine_path(fc.id), method: :delete do %>
              <i class="fa fa-trash" ></i>
            <% end %>
            <!-- IH comment:  passing the cuisine_id which will be used in the map view -->
            <%= link_to map_path(cuisine_id: fc.cuisine.id) do %>
              <i class="fa fa-glasses" ></i> Find location
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>



  </div>

  <div class="col-2">
<!-- cuisine for comparison -->

    <% @comparisoncuisines.each do |fc| %>
      <%= fc.cuisine.name %>
      <%= link_to favorite_cuisine_uncompare_path(fc.id) do %>
        <i class="fa fa-trash" ></i>
        <% end %>
    <% end %>
  </div>
</div>


