<nav class="navbar navbar-poppin">
  <!-- LOGO -->
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>

  <div class="nav-content">
    <!-- OTHER PAGES LINKS -->
    <div class="nav-links">
      <%= link_to "Home", root_path, class: "nav-link-font"%>
      <%= link_to "About us", "#", class: "nav-link-font"%>
      <%= link_to "Contact", "#", class: "nav-link-font"%>
    </div>

    <% if user_signed_in? %>
      <%= link_to 'Favourites', matches_path, class: 'nav-link-font' %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-link-font" %>
      <!-- LOGIN SIGNIN -->
    <% else %>
      <div class="nav-links">
        <%= link_to "Log in", new_user_session_path, class: "nav-link-font"%>
        <%= link_to "Sign up", new_user_registration_path, class: "nav-link-font"%>
      </div>
    <% end %>
  </div>
</nav>
