<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> PopPin - Select the perfect location for your new Restaurant </title>
    <meta name="PopPin"/>
    <meta description="PopPin is the perfect tool to assist you in chosing the perfect location for your new restaurant, based on best data available out there. Try it now!"/>
    <%= favicon_link_tag 'PopPin_favicon_60x60.png' %>
    <meta property="og:image" content=<%= image_url "Poppin_fb_cover_img.png" %>/>

    <!-- Schema.org for Google -->
    <meta itemprop="image" content="image.img">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:image" content=<%= image_tag("Poppin_fb_cover_img.png") %>>
    <meta name="og:site_name" content="PopPin">
    <meta name="og:locale" content="EU">
    <meta name="og:type" content="website">

    <!-- ---------------------------------------------------------------------- -->
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>"">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>

  </body>
</html>
